.icon-container {
    position: absolute;
    top: 0px;
    left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding-top: 20px;
    margin-left: -6px;
    -webkit-font-smoothing: none;
    font-family: "Pixelated MS Sans Serif", Arial;
}

.start-bar {
    padding: 2px;
    box-shadow: inset 1px 0 #fff;
    display: block;
    background-color: silver;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #4e4e4e;
    position: fixed;
    z-index: 99999;
}